body {
  margin-left: 200;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/crossline-lines.png");
}

header{
  margin-top: -9px;
  margin-bottom: -9px;
  background-color: #ffffff;
}

#name-box {
  float: left;;
  background: #4aaaa5;
  font-size: 25px;
  color: #ffffff;
  padding: 20px;
  }

.navbar {
  overflow: hidden;
  background-color:#ffff;
  font-family: 'Georgia', Times, Times New Roman, serif;
  max-width: 800px;
 display: block;
 margin: 0 auto 0 auto;
}

.navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #ffffff;
  color: #777777;
  
}
.navbar .portLink{
  margin: 10px;
}

h2 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

#bio-image {
  width: 175px;
  height: 200px;
  float: left;
  padding: 20px;
}
#main-bio { 
  background: #ffffff;
  padding-top: 10px;
  padding-right: 5%;
  padding-bottom: 15px;
  padding-left: 5%;
}

.container{
 max-width: 800px;
 height: 800px;
 display: block;
 margin: 0 auto 0 auto;
 background-color: #ffffff;
}

footer {
  font-family: 'Arial, Helvetica, sans-serif';
  background-color: #777777;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 2px;
  border-top: 5px #4aaaa5 solid;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
#picture-gallery {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}


 div.gallery {
  border: 1px solid #ccc;
  flex-basis: 20%;
  height: 200px;
  margin-bottom: 45px;
  margin-top: 20px;
}

img {
   width: 100%;
  height: 200px;
}

#contact{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
/* div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
} */